{% extends 'task/base.html' %}
{% block content %}
  {% for post in posts %}
      <div class="post">
          <div class="date">
              <p>Опубликовано: {{ post.published_date }}</p>
              <p>Уникальных слов: {{ post.uniq }}</p>
          </div>
          <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>

              <a class="edit"  href="{% url 'post_edit' pk=post.pk %}">
              <span class="glyphicon glyphicon-pencil"></span></a>

          </h1>

          <p>{{ post.text|linebreaksbr }}</p>
      </div>
  {% endfor %}
{% endblock %}
